<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>EuroniMUZZ</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>EuroniMUZZ</h1>
    <p>Музыка для любого настроения и занятия</p>
    <div class="home-buttons">
        <a href="{{ url_for('search') }}" class="btn">Поиск музыки</a>
        <a href="{{ url_for('recommend') }}" class="btn">Рекомендации</a>
    </div>
</header>
<main></main>
</body>
</html>
